<%- include('../inc/top') %>

    <div class="container mt-4">
        <h1 class="mb-4">Quản Lý đánh giá</h1>

        <% if(msg && msg.length> 0){ %>
            <div class="alert <%= Array.isArray(data) && data.length > 0 ? 'alert-info' : 'alert-danger' %> alert-dismissible fade show"
                role="alert">
                <%= msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>

                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>người dùng</th>
                                        <th>danh mục</th>
                                        <th>điểm đánh giá</th>
                                        <th>nội dung đánh giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (Array.isArray(data) && data.length> 0) { %>
                                        <% data.forEach((item)=> { %>
                                            <tr>
                                                <td>
                                                    <%= item.userId.name || 'N/A' %>
                                                </td>
                                                <td>
                                                    <%= item.productId ? item.productId.name : 'N/A' %>
                                                </td>
                                                <td>
                                                    <%= item.rating || 'N/A' %>
                                                </td>
                                                <td>
                                                    <%= item.reviewText || 'N/A' %>
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <a href="/review/del/<%= item._id %>"
                                                            class="btn btn-outline-danger btn-sm">Xóa</a>

                                                    </div>
                                                </td>
                                            </tr>
                                            <% }); %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6" class="text-center">Không có dữ liệu</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>

    <%- include('../inc/bottom') %>